# Ignore virtual environment
venv/

# Ignore build and distribution directories
build/
dist/
main_gui.spec
Create_ExperimentalPlan_GUI.spec

# Ignore Visual Studio Code directory
.vscode/


#Ignore py cache
__pycache__/
functions/__pycache__/
*.pyc

functions/static/
static/
TestingFolder/