# Ignore virtual environment
venv/
.venv/

# Ignore build and distribution directories
build/
dist/
main_gui.spec
Create_ExperimentalPlan_GUI.spec
JV_Converter.spec

# Ignore Visual Studio Code directory
.vscode/*
# keep launch file for easier sharing of pipeline execution etc.
!.vscode/launch.json


#Ignore py cache
__pycache__/
functions/__pycache__/
*.pyc

functions/static/
static/
TestingFolder/